  :root {
  --text: #040208;
  --background: #f6f2fd;
  --primary: #6830d9;
  --secondary: #ea8bbd;
  --accent: #e05769;
}
body.dark {
  --text: #f9f7fd;
  --background: #06020d;
  --primary: #5e26cf;
  --secondary: #741548;
  --accent: #a81f31;
}

      body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
        justify-content: center;
        margin: 0;
        background-color: var(--background);
        color: var(--text);
        transition:background-color .3s ease,color .3s ease ;
      }
      button{
             cursor: pointer;
      }
        *{
            font-family: poppins;
        }
        .question{
            text-align: center;
        }
        .choices-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
        .choices-container button{
            width: 250px;
            padding: 5px;
            height: 30px;
            cursor: pointer;
            border: .5px solid;
            border-radius: 5px;
            transition: background-color .3s ease,color .3s ease;
            overflow-y: auto;
        }
        .choices-container button::-webkit-scrollbar{
          display: none;
        }
       .active{
        background-color: var(--secondary);
        color: white;
       }
        #questions-container{
            width: 320px;
            overflow-x: scroll;
            display: none;
            gap: 20px;
            scroll-snap-type: x mandatory;
            border:none;
            scroll-behavior: smooth;
            anchor-name: --container;
        }
       
        #questions-container .question{
            scroll-snap-align: start;
           height: 320px;
            width: 100%;
            align-content: center;
            text-align: center;
            flex-shrink: 0;/*prolly plays the main role*/
            background-color: var(--primary);
            border-radius: 10px;
            color: rgb(194, 194, 210);
            overflow-y: scroll;
            text-wrap: balance;
        }
         @media (min-width:768px) {
          #questions-container{
            height: 70%;
            width: 70%;
            margin-top: -50px;
          }
          .choices-container{
            height: 60%;
          }
           .choices-container button{
            width: 90%;
            height: 20%;
           }
           #questions-container .question{
            height:100%;
           }
        }
         #questions-container .question::-webkit-scrollbar{
          display: none;
         }
         #questions-container::scroll-button(right),#questions-container::scroll-button(left){
     content: '';
     background-color: var(--accent);
     color: white;
     border: none;
     border-radius:50%;
     width: 40px;
     height: 40px; 
     cursor: pointer;
     position: fixed;
     position-anchor: --container;
     position-area: right bottom;
     translate: -70%;
     background-image: url(arrow_right_alt_18dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
       }
        #questions-container::scroll-button(right):disabled,#questions-container::scroll-button(left):disabled{
        opacity: 0.5;
        cursor: auto;
       }
        #questions-container::-webkit-scrollbar{
        display: none;
       }
        #questions-container::scroll-button(left){
     content: '';
     background-image: url(arrow_left_alt_18dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg);
     position-area: left bottom;
     translate: 70%;
       }
       #dots{
            display: none;
            justify-content: center;
            gap: .5em;
            margin-top: -70px;
        }
        #dots span{
            background-color: rgb(156, 152, 152);
            height: .7em;
            width: .7em;
            border-radius: 50%;
            cursor: pointer;
            transition: scale .05s ease;
            
        }
        #dots span.show{
         scale: 1.4;
        }
         #dots span.answered{
          background-color: var(--accent);
        }
       progress{
        padding: 50px;
        anchor-name: --progress;
       }
       .start{
        padding: 10px;
        font-size: 1.3rem;
        border-radius: 10px;
        border: none;
        width: 200px;
        background-color: var(--primary);
        color: var(--text);
        outline: none;
       }
       .start:hover{
        box-shadow: 0px 0px 30px var(--accent);
       }
       #text-over{
        position: fixed;
        position-anchor: --progress;
        position-area: center;
        font-size: 1.5rem;
       }
       #submit-btn{
        display: none;
        margin-top: 20px;
         padding: 10px;
        border-radius: 10px;
        border: none;
        width: 150px;
        background-color: var(--primary);
        color: var(--text);
        outline: none;
        gap: 5px;
        justify-content: center;
        align-items: center;
       }
       #submit-btn:disabled{
        opacity: 0.5;
        cursor: auto;
       }
       #startAgain{
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
       }
       #theme{
        cursor: pointer;
       }
  
       #load::after{
        content: '';
        animation: name .4s ease infinite alternate ;
       }
       @keyframes name {
        0%{
            content: '';
        }
        20%{
            content: '.';
        }
        60%{
content: '..';
        }
        100%{ 
            content: '...';
        }

       }
       #load-msg{
        border: 5px solid var(--primary);
        background-color: var(--text);
        border-radius: 10px;
        color: var(--background);
       }

       #dialog-outer{
position: fixed;
width: 100%;
height: 100%;
backdrop-filter: blur(10px);
display: none;
align-items: center;
justify-content: center;
       }
       #dialog-inner{
        scale: 0;
   width: 300px;
   background-color: var(--secondary);
   text-align: center;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
justify-content: center;
   gap: 6.5px;
   padding: 10px;
   transition: scale .3s ease;
       }
       #dialog.active{
        scale: 1;
       }
       #close{
        width: 30px;
        height: 30px;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid var(--text);
        margin-top: -40px;
        text-align: center;
        align-content: center;
        cursor: pointer;
        font-weight: bolder;
        border-radius: 50%;
       }
       #back-to{
        display: none;
        gap: 2px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        background-color: var(--secondary);
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: var(--text);
       }